################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EShopSolution/.vs
/MangoRestaurant_OLd/.vs/MangoRestaurant/config/applicationhost.config
